<div class="swiper-slide">
   <article class="card-popular">
      <div class="card-popular__image">
         <img src="./img/popular/@@image.jpg" alt="image">
      </div>
      <div class="block-product__content">
         <div class="block-product__title">@@name</div>
         <div class="block-product__price">Starts from
            <span class="block-product__dollar">$</span>
            <span class="block-product__cost">@@price</span>
         </div>
         <div class="block-product__rate">
            <div class="block-product__rate-icon">
               <img src="./img/icons/star-small.svg" alt="start rate icon">
            </div>
            <div class="block-product__rate-value">(@@rate)</div>
         </div>
      </div>
   </article>
</div>